<?xml version='1.0' encoding='utf-8'?>
<robot name="Semi_Taks_LV1">
  <mujoco>
    <compiler meshdir="." discardvisual="false" strippath="false"/>
  </mujoco>
  <link name="world" />
  <joint name="world_to_base" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="world" />
    <child link="base_link" />
  </joint>
  <link name="base_link">
    <inertial>
      <origin xyz="3.615731527232031e-05 7.216508380371886e-07 0.0236463859394359" rpy="0 0 0" />
      <mass value="2.028270999256437" />
      <inertia ixx="0.0032273513394774" ixy="-1.565312425165634e-08" ixz="-2.613352003860885e-07" iyy="0.003204053224594088" iyz="2.447694365674385e-08" izz="0.005300317203575967" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/base_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_yaw_joint" type="revolute">
    <origin xyz="0 0 0.0698" rpy="0 0 0" />
    <parent link="base_link" />
    <child link="waist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="60" velocity="4.19" />
    <dynamics armature="0.00985321" damping="0" friction="0" />
  </joint>
  <link name="waist_yaw_link">
    <inertial>
      <origin xyz="0.01254820741023754 1.774573045730403e-07 0.004477069717120669" rpy="0 0 0" />
      <mass value="0.1072849788223774" />
      <inertia ixx="3.22019431164035e-05" ixy="-7.645106998731233e-10" ixz="-3.777179003602555e-07" iyy="5.03853965669313e-05" iyz="-1.098448037545412e-10" izz="6.264219729417433e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_yaw_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_right_link_driven_joint" type="revolute">
    <origin xyz="0.03415 -0.0221 0.0195" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="waist_right_link_driven_link" />
    <axis xyz="1 0 0" />
    <limit lower="-3.1415" upper="3.1415" effort="0" velocity="0" />
    <dynamics armature="0.00985321" damping="0" friction="0" />
  </joint>
  <link name="waist_right_link_driven_link">
    <inertial>
      <origin xyz="-0.0004222742054754217 0.004492540189479952 0.02335166941052011" rpy="0 0 0" />
      <mass value="0.01206529948233483" />
      <inertia ixx="8.253540407557439e-06" ixy="6.63735088786644e-09" ixz="3.889346336775422e-08" iyy="7.865017133987502e-06" iyz="-1.308342377967782e-06" izz="4.216714629408305e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_right_link_driven_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_right_link_driven_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_left_link_driven_joint" type="revolute">
    <origin xyz="0.03415 0.022 0.0195" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="waist_left_link_driven_link" />
    <axis xyz="1 0 0" />
    <limit lower="-3.1415" upper="3.1415" effort="0" velocity="0" />
    <dynamics armature="0.00985321" damping="0" friction="0" />
  </joint>
  <link name="waist_left_link_driven_link">
    <inertial>
      <origin xyz="-0.0004222742054754633 -0.004459511522222754 0.0233878976690826" rpy="0 0 0" />
      <mass value="0.01206529948233483" />
      <inertia ixx="8.253540407579814e-06" ixy="-6.574759017780613e-09" ixz="3.890409314481293e-08" iyy="7.869208572252008e-06" iyz="1.296357931124017e-06" izz="4.174800246986987e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_left_link_driven_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_left_link_driven_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_pitch_joint" type="revolute">
    <origin xyz="0 0 0.0355" rpy="0 0 0" />
    <parent link="waist_yaw_link" />
    <child link="waist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-0.7854" upper="0.7854" effort="60" velocity="4.19" />
    <dynamics armature="0.00985321" damping="0" friction="0" />
  </joint>
  <link name="waist_pitch_link">
    <inertial>
      <origin xyz="0.0005514692704038878 0.0001362726318468048 -0.002999998175466909" rpy="0 0 0" />
      <mass value="0.1455350284507047" />
      <inertia ixx="1.880125561110878e-05" ixy="9.944552570780687e-09" ixz="-4.064682671319942e-20" iyy="1.811413576065878e-05" iyz="-4.202251388886587e-11" izz="2.892649957476412e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_pitch_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_roll_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="waist_pitch_link" />
    <child link="waist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.7854" upper="0.7854" effort="60" velocity="4.19" />
    <dynamics armature="0.00985321" damping="0" friction="0" />
  </joint>
  <link name="waist_roll_link">
    <inertial>
      <origin xyz="-0.006215893090878439 -0.0001728662368248775 0.1839629135641128" rpy="0 0 0" />
      <mass value="4.031182211173786" />
      <inertia ixx="0.09089505647230219" ixy="8.307092313150925e-07" ixz="-0.0006899499903278056" iyy="0.0812186228005078" iyz="8.639948433307107e-05" izz="0.01244080936979026" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_roll_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_roll_link.STL" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_roll_link_torso.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_roll_link_torso.STL" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_roll_link_right_shoulder_mount.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_roll_link_right_shoulder_mount.STL" />
      </geometry>
    </collision>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_roll_link_left_shoulder_mount.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_roll_link_left_shoulder_mount.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_right_motor_joint" type="revolute">
    <origin xyz="0.02515 -0.0425 0.052" rpy="0 0 0" />
    <parent link="waist_roll_link" />
    <child link="waist_right_motor_link" />
    <axis xyz="1 0 0" />
    <limit lower="-0.75000000" upper="1.16190000" effort="60" velocity="4.19" />
    <dynamics armature="0.00985321" damping="0" friction="0" />
  </joint>
  <link name="waist_right_motor_link">
    <inertial>
      <origin xyz="0.005045957652873252 0.002539038177855203 -0.002999998175600954" rpy="0 0 0" />
      <mass value="0.06153448822481093" />
      <inertia ixx="2.286208803131267e-05" ixy="-2.084127284245705e-07" ixz="2.779952452279458e-17" iyy="9.472491773565463e-06" iyz="-2.503023696073954e-17" izz="2.051156321449989e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_right_motor_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_right_motor_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="waist_left_motor_joint" type="revolute">
    <origin xyz="0.02515 0.0425 0.052" rpy="0 0 0" />
    <parent link="waist_roll_link" />
    <child link="waist_left_motor_link" />
    <axis xyz="1 0 0" />
    <limit lower="-1.16190000" upper="0.75000000" effort="60" velocity="4.19" />
    <dynamics armature="0.00985321" damping="0" friction="0" />
  </joint>
  <link name="waist_left_motor_link">
    <inertial>
      <origin xyz="0.005045957652873252 -0.00253901324983475 -0.00299622045718162" rpy="0 0 0" />
      <mass value="0.06153448822481093" />
      <inertia ixx="2.286208803131265e-05" ixy="2.084124977397676e-07" ixz="-3.100890935193676e-10" iyy="9.472516211076414e-06" iyz="1.642458011679409e-08" izz="2.051153877698893e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_left_motor_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/waist_left_motor_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_pitch_joint" type="revolute">
    <origin xyz="-0.0048 -0.0982676 0.3108799" rpy="0 0 0" />
    <parent link="waist_roll_link" />
    <child link="right_shoulder_pitch_link" />
    <axis xyz="0 0.94832 -0.3173" />
    <limit lower="-3.1415" upper="1.0472" effort="30" velocity="3.77" />
    <dynamics armature="0.0030254460886951994" damping="0" friction="0" />
  </joint>
  <link name="right_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.008627194328436411 -0.04554020901173107 -0.01948230209624802" rpy="0 0 0" />
      <mass value="0.5718550961793376" />
      <inertia ixx="0.0003419311709038835" ixy="6.094834593038298e-06" ixz="2.621619952827958e-06" iyy="0.0003012831123611433" iyz="-4.19926858492591e-05" izz="0.0003229382990652371" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_roll_joint" type="revolute">
    <origin xyz="0.042 -0.0486762 -0.0218439" rpy="0 0 0" />
    <parent link="right_shoulder_pitch_link" />
    <child link="right_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.2515" upper="1.5882" effort="30" velocity="3.77" />
    <dynamics armature="0.0030254460886951994" damping="0" friction="0" />
  </joint>
  <link name="right_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.03527126628168185 -0.01433615164985719 -0.06783766673615693" rpy="0 0 0" />
      <mass value="0.5652982993172326" />
      <inertia ixx="0.0003721838305973952" ixy="-1.223279336118952e-05" ixz="-6.310439713949304e-05" iyy="0.0004295718250839314" iyz="-2.092383408237959e-05" izz="0.0003099732665119029" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_shoulder_yaw_joint" type="revolute">
    <origin xyz="-0.0383 -0.0149556 -0.105461" rpy="0 0 0" />
    <parent link="right_shoulder_roll_link" />
    <child link="right_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="30" velocity="3.77" />
    <dynamics armature="0.0030254460886951994" damping="0" friction="0" />
  </joint>
  <link name="right_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.001870059667368326 -0.001602641442290054 -0.1073988483988307" rpy="0 0 0" />
      <mass value="0.5784603077913861" />
      <inertia ixx="0.0006746560797595865" ixy="1.224637611986339e-06" ixz="4.480960271227804e-05" iyy="0.0006546295913226266" iyz="-6.918638990173042e-06" izz="0.0002802371999538544" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_elbow_joint" type="revolute">
    <origin xyz="0.003 -0.0356006 -0.1154997" rpy="0 0 0" />
    <parent link="right_shoulder_yaw_link" />
    <child link="right_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.0472" upper="1.5708" effort="30" velocity="3.77" />
    <dynamics armature="0.0030254460886951994" damping="0" friction="0" />
  </joint>
  <link name="right_elbow_link">
    <inertial>
      <origin xyz="0.06625808209753588 0.02745142866062647 -0.0235697300032251" rpy="0 0 0" />
      <mass value="0.3259631470204687" />
      <inertia ixx="0.0001464720703612312" ixy="-4.097056507502192e-05" ixz="3.068394287781272e-05" iyy="0.0002227310874677969" iyz="1.269490729415495e-05" izz="0.0002301145662458225" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_elbow_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_roll_joint" type="revolute">
    <origin xyz="0.0972 0.0305006 -0.025" rpy="0 0 0" />
    <parent link="right_elbow_link" />
    <child link="right_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.67" upper="2.67" effort="6" velocity="12.57" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="right_wrist_roll_link">
    <inertial>
      <origin xyz="0.05705037987646468 -1.518472729272746e-05 0.00116409611339699" rpy="0 0 0" />
      <mass value="0.4165237436850193" />
      <inertia ixx="0.0001977334688879868" ixy="2.022651142545147e-08" ixz="-7.120096807668032e-06" iyy="0.0006106967241342041" iyz="-5.961369384132132e-08" izz="0.0005866464308642559" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_roll_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_yaw_motor_joint" type="revolute">
    <origin xyz="0.071 -6e-07 0.0012997" rpy="0 0 0" />
    <parent link="right_wrist_roll_link" />
    <child link="right_wrist_yaw_motor_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.309" upper="1.309" effort="6" velocity="12.57" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="right_wrist_yaw_motor_link">
    <inertial>
      <origin xyz="4.248559121178275e-08 5.782823624955746e-07 -0.03023266637914192" rpy="0 0 0" />
      <mass value="0.006100131928918171" />
      <inertia ixx="7.812635828316256e-07" ixy="-1.461873237242525e-21" ixz="-1.13521276242355e-18" iyy="4.307240444844823e-07" iyz="-3.728268456899006e-18" izz="9.324876704745747e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_motor_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_motor_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_yaw_outer_rod_joint" type="revolute">
    <origin xyz="0 -0.012 -0.038" rpy="0 0 0" />
    <parent link="right_wrist_yaw_motor_link" />
    <child link="right_wrist_yaw_outer_rod_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1415" upper="3.1415" effort="0" velocity="0" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="right_wrist_yaw_outer_rod_link">
    <inertial>
      <origin xyz="0.03025004248552082 -0.004500304485048345 -7.840760069587061e-05" rpy="0 0 0" />
      <mass value="0.005904557513617986" />
      <inertia ixx="6.094309888750246e-08" ixy="1.533964243429199e-21" ixz="-1.13174539976308e-20" iyy="2.024818367964294e-06" iyz="-5.658528352742839e-10" izz="2.071372128867356e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_outer_rod_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_outer_rod_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_yaw_inner_rod_joint" type="revolute">
    <origin xyz="0 0.012 -0.038" rpy="0 0 0" />
    <parent link="right_wrist_yaw_motor_link" />
    <child link="right_wrist_yaw_inner_rod_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1415" upper="3.1415" effort="0" velocity="0" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="right_wrist_yaw_inner_rod_link">
    <inertial>
      <origin xyz="0.03025004248552079 0.00450146104992416 -7.840760069587061e-05" rpy="0 0 0" />
      <mass value="0.005904557513617986" />
      <inertia ixx="6.094309888750246e-08" ixy="-1.671811649922746e-22" ixz="-1.129438340363478e-20" iyy="2.024818367964293e-06" iyz="5.658528352743316e-10" izz="2.071372128867354e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_inner_rod_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_inner_rod_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_yaw_joint" type="revolute">
    <origin xyz="0.1315 -6e-07 0" rpy="0 0 0" />
    <parent link="right_wrist_roll_link" />
    <child link="right_wrist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.309" upper="1.309" effort="6" velocity="12.57" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="right_wrist_yaw_link">
    <inertial>
      <origin xyz="-0.0001309102913537863 -0.001518180455257451 -0.0004661132764635922" rpy="0 0 0" />
      <mass value="0.2829538436436055" />
      <inertia ixx="0.0001130425266900069" ixy="6.348583374171796e-07" ixz="2.204155528973981e-08" iyy="0.0001018923728894962" iyz="3.651943871630489e-07" izz="8.930835330661209e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="right_wrist_pitch_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="right_wrist_yaw_link" />
    <child link="right_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5708" upper="1.5708" effort="6" velocity="12.57" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="right_wrist_pitch_link">
    <inertial>
      <origin xyz="0.1212949356021869 0.006058475154452014 -0.0058920822706722" rpy="0 0 0" />
      <mass value="0.8539831028978021" />
      <inertia ixx="0.0002898798313145953" ixy="7.733966183939447e-05" ixz="0.0001106484318514972" iyy="0.001332754594247242" iyz="-5.858653941027449e-06" izz="0.001289913707081461" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_pitch_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/right_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_pitch_joint" type="revolute">
    <origin xyz="-0.0048 0.0982676 0.3108799" rpy="0 0 0" />
    <parent link="waist_roll_link" />
    <child link="left_shoulder_pitch_link" />
    <axis xyz="0 0.94832 0.3173" />
    <limit lower="-3.1415" upper="1.0472" effort="30" velocity="3.77" />
    <dynamics armature="0.0030254460886951994" damping="0" friction="0" />
  </joint>
  <link name="left_shoulder_pitch_link">
    <inertial>
      <origin xyz="0.0086271981303996 0.04554022346996121 -0.01948231444624399" rpy="0 0 0" />
      <mass value="0.5718554098730556" />
      <inertia ixx="0.0003419315354262408" ixy="-6.094900281742231e-06" ixz="2.621695283400508e-06" iyy="0.0003012833716566026" iyz="4.199285349260778e-05" izz="0.0003229384650065967" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_roll_joint" type="revolute">
    <origin xyz="0.042 0.0486762 -0.0218439" rpy="0 0 0" />
    <parent link="left_shoulder_pitch_link" />
    <child link="left_shoulder_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-1.5882" upper="2.2515" effort="30" velocity="3.77" />
    <dynamics armature="0.0030254460886951994" damping="0" friction="0" />
  </joint>
  <link name="left_shoulder_roll_link">
    <inertial>
      <origin xyz="-0.03527128186933699 0.0143361607647785 -0.06783767227483029" rpy="0 0 0" />
      <mass value="0.5652986130109504" />
      <inertia ixx="0.0003721839083273399" ixy="1.223288413303624e-05" ixz="-6.310451585061473e-05" iyy="0.0004295721884112509" iyz="2.0923880475048e-05" izz="0.0003099736144906993" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_shoulder_yaw_joint" type="revolute">
    <origin xyz="-0.0383 0.0149556 -0.105461" rpy="0 0 0" />
    <parent link="left_shoulder_roll_link" />
    <child link="left_shoulder_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="30" velocity="3.77" />
    <dynamics armature="0.0030254460886951994" damping="0" friction="0" />
  </joint>
  <link name="left_shoulder_yaw_link">
    <inertial>
      <origin xyz="0.001870054103441493 0.001602647610651015 -0.1073988663823625" rpy="0 0 0" />
      <mass value="0.5784606214851048" />
      <inertia ixx="0.0006746565240733364" ixy="-1.22460675665828e-06" ixz="4.480951103099965e-05" iyy="0.0006546300244279837" iyz="6.918741064684311e-06" izz="0.0002802372488809647" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_shoulder_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_elbow_joint" type="revolute">
    <origin xyz="0.003 0.0356006 -0.1154997" rpy="0 0 0" />
    <parent link="left_shoulder_yaw_link" />
    <child link="left_elbow_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.0472" upper="1.5708" effort="30" velocity="3.77" />
    <dynamics armature="0.0030254460886951994" damping="0" friction="0" />
  </joint>
  <link name="left_elbow_link">
    <inertial>
      <origin xyz="0.06625808209753656 -0.02745142620994392 -0.02356973000321383" rpy="0 0 0" />
      <mass value="0.3259631470204687" />
      <inertia ixx="0.0001464720703612311" ixy="4.097056507501372e-05" ixz="3.068394287780639e-05" iyy="0.0002227310874677845" iyz="-1.26949072941554e-05" izz="0.0002301145662458072" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_elbow_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_elbow_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_roll_joint" type="revolute">
    <origin xyz="0.0972 -0.0305006 -0.025" rpy="0 0 0" />
    <parent link="left_elbow_link" />
    <child link="left_wrist_roll_link" />
    <axis xyz="1 0 0" />
    <limit lower="-2.67" upper="2.67" effort="6" velocity="12.57" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="left_wrist_roll_link">
    <inertial>
      <origin xyz="0.05705037987646476 1.518717796392122e-05 0.001164096113408064" rpy="0 0 0" />
      <mass value="0.4165237436850195" />
      <inertia ixx="0.0001977334688879866" ixy="-2.022651166766739e-08" ixz="-7.120096807664866e-06" iyy="0.0006106967241312296" iyz="5.961369383723134e-08" izz="0.0005866464308672318" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_roll_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_roll_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_yaw_motor_joint" type="revolute">
    <origin xyz="0.071 6e-07 0.0012997" rpy="0 0 0" />
    <parent link="left_wrist_roll_link" />
    <child link="left_wrist_yaw_motor_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.309" upper="1.309" effort="6" velocity="12.57" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="left_wrist_yaw_motor_link">
    <inertial>
      <origin xyz="4.24855913783162e-08 -5.758316779791439e-07 -0.03023266637913091" rpy="0 0 0" />
      <mass value="0.006100131928918171" />
      <inertia ixx="7.81263582831629e-07" ixy="-2.949030288307868e-22" ixz="-1.135958840833444e-18" iyy="4.307240444844802e-07" iyz="3.694982709049873e-18" izz="9.324876704745785e-07" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_motor_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_motor_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_yaw_outer_rod_joint" type="revolute">
    <origin xyz="0 0.012 -0.038" rpy="0 0 0" />
    <parent link="left_wrist_yaw_motor_link" />
    <child link="left_wrist_yaw_outer_rod_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1415" upper="3.1415" effort="0" velocity="0" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="left_wrist_yaw_outer_rod_link">
    <inertial>
      <origin xyz="0.03025004248552093 0.004500306935733361 -7.840760068381081e-05" rpy="0 0 0" />
      <mass value="0.005904557513617986" />
      <inertia ixx="6.094309888750246e-08" ixy="9.232204320261684e-22" ixz="-1.047020117239711e-20" iyy="2.024818367964293e-06" iyz="5.658528352712151e-10" izz="2.071372128867354e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_outer_rod_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_outer_rod_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_yaw_inner_rod_joint" type="revolute">
    <origin xyz="0 -0.012 -0.038" rpy="0 0 0" />
    <parent link="left_wrist_yaw_motor_link" />
    <child link="left_wrist_yaw_inner_rod_link" />
    <axis xyz="0 0 1" />
    <limit lower="-3.1415" upper="3.1415" effort="0" velocity="0" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="left_wrist_yaw_inner_rod_link">
    <inertial>
      <origin xyz="0.03025004248552082 -0.004501458599238922 -7.840760068597574e-05" rpy="0 0 0" />
      <mass value="0.005904557513617986" />
      <inertia ixx="6.094309888750246e-08" ixy="1.994563792434864e-21" ixz="-1.131758671051977e-20" iyy="2.024818367964294e-06" iyz="-5.658528352774005e-10" izz="2.071372128867356e-06" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_inner_rod_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_inner_rod_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_yaw_joint" type="revolute">
    <origin xyz="0.1315 6e-07 0" rpy="0 0 0" />
    <parent link="left_wrist_roll_link" />
    <child link="left_wrist_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-1.309" upper="1.309" effort="6" velocity="12.57" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="left_wrist_yaw_link">
    <inertial>
      <origin xyz="-0.000130910291353703 0.00151818290594008 -0.0004661132764524345" rpy="0 0 0" />
      <mass value="0.2829538436436055" />
      <inertia ixx="0.0001130425266900069" ixy="-6.348583374171495e-07" ixz="2.204155528970924e-08" iyy="0.0001018923728894962" iyz="-3.651943871621881e-07" izz="8.930835330661207e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="left_wrist_pitch_joint" type="revolute">
    <origin xyz="0 0 0" rpy="0 0 0" />
    <parent link="left_wrist_yaw_link" />
    <child link="left_wrist_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.5708" upper="1.5708" effort="6" velocity="12.57" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="left_wrist_pitch_link">
    <inertial>
      <origin xyz="0.1212949364782549 -0.006058472607583104 -0.005892082798664516" rpy="0 0 0" />
      <mass value="0.8539830859062353" />
      <inertia ixx="0.0002898798180631293" ixy="-7.733965921767743e-05" ixz="0.0001106484120059854" iyy="0.001332754549263518" iyz="5.858651063871073e-06" izz="0.001289913672858003" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_pitch_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/left_wrist_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="head_pitch_joint" type="revolute">
    <origin xyz="-0.0055 0 0.415" rpy="0 0 0" />
    <parent link="waist_roll_link" />
    <child link="head_pitch_link" />
    <axis xyz="0 1 0" />
    <limit lower="-1.57" upper="1.57" effort="6" velocity="12.57" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="head_pitch_link">
    <inertial>
      <origin xyz="5.000000031474792e-05 0.002791786892488407 0.02212401395257202" rpy="0 0 0" />
      <mass value="0.07419637817977008" />
      <inertia ixx="6.660262715603233e-05" ixy="-5.074414901785814e-16" ixz="5.086508853166524e-16" iyy="3.872483505419337e-05" iyz="5.780946136822601e-06" izz="6.907546877793667e-05" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_pitch_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_pitch_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="head_yaw_joint" type="revolute">
    <origin xyz="0 0 0.039" rpy="0 0 0" />
    <parent link="head_pitch_link" />
    <child link="head_yaw_link" />
    <axis xyz="0 0 1" />
    <limit lower="-2.618" upper="2.618" effort="6" velocity="12.57" />
    <dynamics armature="0.00074568" damping="0" friction="0" />
  </joint>
  <link name="head_yaw_link">
    <inertial>
      <origin xyz="-9.964187000209047e-06 -5.660401050156666e-05 0.02227408654164775" rpy="0 0 0" />
      <mass value="0.3528018307094871" />
      <inertia ixx="0.0001648640301735097" ixy="2.74584317951864e-07" ixz="-5.080696475935303e-07" iyy="0.0001680515323192505" iyz="5.295360219306605e-08" izz="0.0001651892075534231" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_yaw_link.STL" />
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="meshes/head_yaw_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="head_left_camera_joint" type="fixed">
    <origin xyz="0.08892307593 0.02979965544 0.04661159739" rpy="0 0.172787596 0" />
    <parent link="head_yaw_link" />
    <child link="head_left_camera_link" />
  </joint>
  <link name="head_left_camera_link" />
  <joint name="head_right_camera_joint" type="fixed">
    <origin xyz="0.08892307593 -0.03020034456 0.04661159739" rpy="0 0.172787596 0" />
    <parent link="head_yaw_link" />
    <child link="head_right_camera_link" />
  </joint>
  <link name="head_right_camera_link" />
  <joint name="right_wrist_camera_joint" type="fixed">
    <origin xyz="0.1034313514828682 0.023001 0.03892825171351433" rpy="0 0.349065850399 0" />
    <parent link="right_wrist_pitch_link" />
    <child link="right_wrist_camera_link" />
  </joint>
  <link name="right_wrist_camera_link" />
  <joint name="left_wrist_camera_joint" type="fixed">
    <origin xyz="0.1034313514828682 -0.023001 0.03892825171351433" rpy="0 0.349065850399 0" />
    <parent link="left_wrist_pitch_link" />
    <child link="left_wrist_camera_link" />
  </joint>
  <link name="left_wrist_camera_link" />
</robot>